@tailwind base;
@tailwind components;
@tailwind utilities;
/* App.css */
.slider-container {
  position: relative;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-dots {
  position: absolute;
  bottom: 20px; /* Adjust the value as per your requirement */
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-dots li button:before {
  color: white; /* Change dot color to suit your design */
}
